# Prevent pip from pulling CUDA wheel stack (we use conda pytorch-cuda)
nvidia-cublas-cu12==0
nvidia-cudnn-cu12==0
nvidia-cufft-cu12==0
nvidia-cufile-cu12==0
nvidia-curand-cu12==0
nvidia-cusolver-cu12==0
nvidia-cusparse-cu12==0
nvidia-cusparselt-cu12==0
nvidia-nccl-cu12==0
nvidia-nvjitlink-cu12==0
nvidia-nvtx-cu12==0

# Prevent pip from pulling its own Triton
triton==0
