# crm_assistant .env variables

WHISPER_MODEL="small"
# WHISPER_MODEL="turbo"
TTS_MODEL="tts_models/en/ljspeech/tacotron2-DDC"
LLM_API_URL="http://192.168.8.16:11434/v1/chat/completions"
# LLM_API_URL="http://localhost:1234/v1/chat/completions"
LLM_MODEL_NAME = "qwen2.5:14b-instruct" # best overall
# LLM_MODEL_NAME = "qwen2.5-14b-instruct" # best overall
# LLM_MODEL_NAME = "meta-llama-3.1-8b-instruct" # base
# LLM_MODEL_NAME = "deepseek-r1-distill-llama-8b" # with reasoning
LLM_TEMPERATURE= 0.6
